.continueWatching {
  margin-bottom: 80px;
}

.continueWatchingTitle {
  margin-bottom: 24px;
}
.continueWatchingRow {
  display: flex;
  justify-content: space-between;
}
.continueFilmWrapper {
  overflow: hidden;
  border-radius: 12px;
  &:hover {
    transform: scale(110%);
  }
}
.continueFilmCard {
}
