.selectGenreFilms {
  margin-bottom: 24px;
}

.selectGenreFilmsRow {
  display: flex;
  justify-content: space-between;
}
.genreWrapper {
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  &:hover {
    transform: scale(110%);
  }
}
.genreWrapper img {
  display: block;
}
.genreWrapper::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #060608 100%);
}

.genreWrapper::after {
  content: attr(title);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 26px;
}
